[General]
# Punctuation Style
# Available Value:
# Japanese
# Latin
# Wide latin
# Wide latin Japanese
#PunctuationStyle=Japanese
# Initial Input Mode
# Available Value:
# Hiragana
# Katakana
# Half width Katakana
# Direct input
# Wide latin
#InitialInputMode=Hiragana
# Page size
#PageSize=10
# Candidate List Layout
# Available Value:
# Global
# Vertical
# Horizontal
#CandidateLayout=Vertical
# Number candidate of Triggers To Show Candidate Window
#NTriggersToShowCandWin=0
# Auto correct input sequence
# Available Value:
# True False
#AutoCorrect=True
# Candidates Page Up
#CandidatesPageUpKey=PGUP
# Candidates Page Down
#CandidatesPageDownKey=PGDN
# Cursor Up
#CursorUp=UP
# Cursor Down
#CursorDown=DOWN
# Show Annotation
# Available Value:
# True False
#ShowAnnotation=True

