[General]
# Punctuation Style
# Available Value:
# Japanese
# Latin
# Wide latin
# Wide latin Japanese
#PunctuationStyle=Japanese
# Initial Input Mode
# Available Value:
# Hiragana
# Katakana
# Half width Katakana
# Direct input
# Wide latin
#InitialInputMode=Hiragana
# Page size
#PageSize=7
# Return-key does not insert new line on commit
# Available Value:
# True False
#EggLikeNewLine=False
# Candidate List Layout
# Available Value:
# Global
# Vertical
# Horizontal
#CandidateLayout=Vertical
# Number candidate of Triggers To Show Candidate Window
#NTriggersToShowCandWin=4
# Show Annotation
# Available Value:
# True False
#ShowAnnotation=True
# Keys to Select from Candidate Window
# Available Value:
# Digit (0,1,2,...)
# ABC (a,b,c,...)
# Qwerty Center Row (a,s,d,...)
#CandidateChooseKey=Digit (0,1,2,...)

