[Shortcut]
# Select the first candidate word
#SelectFirst=
# Going to the page of the first single character candidate word
#GoToSingleWord=
# Only go forward when looking for single character page
# Available Value:
# True False
#SingleOnlyForward=True
# Going to the first page
#GoToFirstPage=
# Going to the last page
#GoToLastPage=

[Redirect]
# Delete
#Delete=
# Backspace
#Backspace=
# Home
#Home=
# End
#End=
# Right
#Right=
# Left
#Left=
# Escape
#Escape=
# Enter
#Enter=
# Semicolon
#Semicolon=
# Space
#Space=
# Comma
#Comma=
# Period
#Period=
# Reload
#Reload=
# Separator
#Separator=

