[General]
# Page size
#PageSize=10
# Candidate List Layout
# Available Value:
# Global
# Vertical
# Horizontal
#CandidateLayout=Vertical
# Number candidate of Triggers To Show Candidate Window
#NTriggersToShowCandWin=2
# Input mode
# Available Value:
# Hiragana
# Katakana
# Half Katakana
# Latin
# Wide Latin
#InputMode=Hiragana
# Typing method
# Available Value:
# Romaji
# Kana
# Nicola
#TypingMethod=Romaji
# Conversion mode
# Available Value:
# Multi segment
# Single segment
# Multi segment immediate
# Single segment immediate
#ConversionMode=Multi segment
# Period style
# Available Value:
# Wide latin
# Latin
# Japanese
# Wide latin Japanese
#PeriodStyle=Japanese
# Symbol style
# Available Value:
# Japanese
# Wide bracket and wide slash
# Corner bracket and Middle Dot
# Corner bracket and wide slash
#SymbolStyle=Japanese
# Learn on manual commit
# Available Value:
# True False
#LearnOnManualCommit=True
# Learn on auto commit
# Available Value:
# True False
#LearnOnAutoCommit=True
# Allow split
# Available Value:
# True False
#AllowSplit=True
# Use direct key on predict
# Available Value:
# True False
#UseDirectKeyOnPredict=True
# Show candidates label
# Available Value:
# True False
#ShowCandidatesLabel=True

[Interface]
# Show input mode
# Available Value:
# True False
#ShowInputMode=True
# Show typing method
# Available Value:
# True False
#ShowTypingMethod=True
# Show conversion mode
# Available Value:
# True False
#ShowConversionMode=True
# Show period style
# Available Value:
# True False
#ShowPeriodStyle=False
# Show symbol style
# Available Value:
# True False
#ShowSymbolStyle=False

[KeyProfile]
# Key binding profile
# Available Value:
# Default
# Atok
# Canna
# MS IME
# Vje Delta
# WNN
# Custom
#KeyBindingProfile=Default
# Romaji Table
# Available Value:
# Default
# Atok
# Azik
# Canna
# MS IME
# Vje Delta
# WNN
#RomajiTable=Default
# Kana Table
# Available Value:
# Default
# 101kana
# tsuki-2-203-101
# tsuki-2-203-106
# Quick Kana
# Custom
#KanaTable=Default
# Nicola Table
# Available Value:
# Default
# Nicola-A
# Nicola-F
# Nicola-J
# Oasys100J
# Tron Dvorak
# Tron Qwerty JP
# Custom
#NicolaTable=Default
# Custom Key Binding
#CustomKeyBinding=
# Custom Romaji Table
#CustomRomajiTable=
# Custom Kana Table
#CustomKanaTable=
# Custom Nicola Table
#CustomNicolaTable=

[Key]
# Circle input mode
#CircleInputModeKey=CTRL_, CTRL_<
# Circle kana mode
#CircleKanaModeKey=CTRL_. HIRAGANAKATAKANA
# Circle latin and hiragana mode
#CircleLatinHiraganaModeKey=
# Circle typing method
#CircleTypingMethodKey=ALT_ROMAJI CTRL_/
# Latin mode
#LatinModeKey=
# Wide latin mode
#WideLatinModeKey=
# Hiragana mode
#HiraganaModeKey=
# Katakana mode
#KatakanaModeKey=
# Half Katakana mode
#HalfKatakanaModeKey=
# Cancel pseudo ascii mode
#CancelPseudoAsciiModeKey=ESCAPE
# Insert space
#InsertSpaceKey=SPACE
# Insert Alternative space
#InsertAltSpaceKey=SHIFT_SPACE
# Insert Half Space
#InsertHalfSpaceKey=
# Insert wide space
#InsertWideSpaceKey=
# BackSpace
#BackSpaceKey=BACKSPACE CTRL_H
# Delete
#DeleteKey=DELETE CTRL_D
# Commit
#CommitKey=ENTER CTRL_J
# Commit Reverse Learn
#CommitReverseLearnKey=SHIFT_ENTER
# Convert
#ConvertKey=SPACE HENKAN
# Predict
#PredictKey=TAB
# Cancel
#CancelKey=ESCAPE CTRL_G
# Cancel all
#CancelAllKey=
# Move Caret First
#MoveCaretFirstKey=CTRL_A HOME
# Move caret last
#MoveCaretLastKey=CTRL_E END
# Move caret forward
#MoveCaretForwardKey=RIGHT CTRL_F
# Move caret backward
#MoveCaretBackwardKey=LEFT CTRL_B
# Select first segment
#SelectFirstSegmentKey=CTRL_A HOME
# Select last segment
#SelectLastSegmentKey=CTRL_E END
# Select next segment
#SelectNextSegmentKey=RIGHT CTRL_F
# Select previous segment
#SelectPrevSegmentKey=LEFT CTRL_B
# Shrink segment
#ShrinkSegmentKey=SHIFT_LEFT CTRL_I
# Expand segment
#ExpandSegmentKey=SHIFT_RIGHT CTRL_O
# Commit first segment
#CommitFirstSegmentKey=SHIFT_DOWN
# Commit selected segment
#CommitSelectedSegmentKey=CTRL_DOWN
# Commit first segment reverse learn
#CommitFirstSegmentReverseLearnKey=
# Commit selected segment reverse learn
#CommitSelectedSegmentReverseLearnKey=
# Select first candidate
#SelectFirstCandidateKey=HOME
# Select last candidate
#SelectLastCandidateKey=END
# Select next candidate
#SelectNextCandidateKey=SPACE TAB
# Alternative Select next candidate
#SelectNextCandidateKeyAlter=HENKAN DOWN
# Select prev candidate
#SelectPrevCandidateKey=SHIFT_TAB UP
# Alternative Select prev candidate
#SelectPrevCandidateKeyAlter=
# Candidates Page Up
#CandidatesPageUpKey=PGUP
# Candidates Page Down
#CandidatesPageDownKey=PGDN
# Convert char type forward
#ConvertCharTypeForwardKey=MUHENKAN
# Convert char type backward
#ConvertCharTypeBackwardKey=
# Convert To Hiragana
#ConvertToHiraganaKey=F6
# Convert To Katakana
#ConvertToKatakanaKey=F7
# Convert To Half
#ConvertToHalfKey=F8
# Convert To Half Katakana
#ConvertToHalfKatakanaKey=SHIFT_F8
# Convert To Wide Latin
#ConvertToWideLatinKey=F9
# Convert To Latin
#ConvertToLatinKey=F10
# Reconvert
#ReconvertKey=SHIFT_HENKAN
# Dict admin
#DictAdminKey=F11
# Add Word
#AddWordKey=F12
# Left thumb key
#LeftThumbKey=MUHENKAN
# Right thumb key
#RightThumbKey=HENKAN SPACE
# Ro key for kana layout
#KanaLayoutRoKey=ろ
# Nicola time
#NicolaTime=200

[Command]
# Add word
#AddWord=kasumi -a
# Dict admin
#DictAdmin=kasumi

