[Unikey]
# Input Method
# Available Value:
# Telex
# VNI
# VIQR
# Microsoft Vietnamese
# UserIM
# Simple Telex
# Simple Telex2
#InputMethod=Telex
# Output Charset
# Available Value:
# Unicode
# TCVN3
# VNI Win
# VIQR
# BK HCM 2
# CString
# NCR Decimal
# NCR Hex
#OutputCharset=Unicode
# Enable spell check
# Available Value:
# True False
#SpellCheck=False
# Enable macro
# Available Value:
# True False
#Macro=False
# Use oà, _uý (instead of òa, úy)
# Available Value:
# True False
#ModernStyle=False
# Allow type with more freedom
# Available Value:
# True False
#FreeMarking=True
# Auto restore keys with invalid words
# Available Value:
# True False
#AutoNonVnRestore=True
# Process W at word begin
# Available Value:
# True False
#ProcessWAtBegin=True

