[Chewing]
# Selection Key
# Available Value:
# 1234567890
# asdfghjkl;
# asdfzxcv89
# asdfjkl789
# aoeuhtn789
# 1234qweras
#SelectionKey=1234567890
# Add Phrase Forward
# Available Value:
# True False
#AddPhraseForward=False
# Backward phrase choice
# Available Value:
# True False
#ChoiceBackward=True
# Automatically shift cursor
# Available Value:
# True False
#AutoShiftCursor=True
# Space as selection key
# Available Value:
# True False
#SpaceAsSelection=True
# Keyboard Layout
# Available Value:
# Default Keyboard
# Hsu's Keyboard
# IBM Keyboard
# Gin-Yieh Keyboard
# ETen Keyboard
# ETen26 Keyboard
# Dvorak Keyboard
# Dvorak Keyboard with Hsu's support
# DACHEN_CP26 Keyboard
# Han-Yu PinYin Keyboard
#Layout=Default Keyboard

