---
# We'll use defaults from the LLVM style, but with 4 columns indentation.
BasedOnStyle: google
IndentWidth: 4
---
Language: Cpp
# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Left
AccessModifierOffset: -4
AlignConsecutiveAssignments: false
AlignOperands:   false
BreakBeforeBinaryOperators: All
BreakBeforeTernaryOperators: true
ColumnLimit: 120
Standard: Cpp11
---
Language: JavaScript
# Use 100 columns for JS.
ColumnLimit: 100
---
Language: Proto
# Don't format .proto files.
DisableFormat: true
