.DS_Store
.idea
*.log
__pycache__
tmp/
fishd.*
.cgdb/logs/
.cgdb/readline_history.txt
.gdb_history
.config/direnv/allow
.elc
.copyq_s
*.dat
.config/fcitx/dbus
.config/fcitx/rime/sync
.config/fcitx/rime/trash
.config/fcitx/rime/luna_pinyin.userdb
.config/fcitx/rime/luna_pinyin.userdb.old
.config/fcitx/rime/build
.config/fcitx/clipboard
.config/fcitx/rime/user.yaml
.config/fcitx/profile
.config/copyq/copyq-bak.conf
.config/copyq/copyq_geometry.ini
.config/copyq/copyq_tabs.ini
/.docker/.buildNodeID
/.config/fish/fish_universal_variables
/.config/fcitx/profile*
/.config/qutebrowser/qsettings/QtProject.conf
/.config/qutebrowser/.mypy_cache
/scripts/.mypy_cache/
/.config/fcitx/conf/fcitx-notify.config
/.config/fcitx/rime/installation.yaml
*.elc
/.config/fish/fish_variables
/.auctex-auto
/.config/doom/.authinfo.gpg
*.tmp
/.config/copyq/copyq-commands.ini.new.bak
/.config/copyq/copyq-commands.ini.bak
/Thumbs.db
/Thumbs.db:encryptable
/.config/copyq/copyq.pub
/.config/copyq/copyq-filter.ini
/aurs/*/*
!/aurs/*/PKGBUILD
