.DS_Store
.idea
*.log
__pycache__
tmp/
fishd.*
.cgdb/logs/
.cgdb/readline_history.txt
.gdb_history
.config/direnv/allow
.elc
.copyq_s
*.dat
.config/fcitx/dbus
.config/fcitx/rime/sync
.config/fcitx/rime/trash
.config/fcitx/rime/luna_pinyin.userdb
.config/fcitx/rime/luna_pinyin.userdb.old
.config/fcitx/rime/build
.config/fcitx/clipboard
.config/fcitx/rime/user.yaml
.config/fcitx/profile
.config/copyq/copyq-bak.conf
.config/copyq/copyq_geometry.ini
.config/copyq/copyq_tabs.ini
/.docker/.buildNodeID
fcitx/profile*
/.config/fcitx/profile_
/.config/fish/fish_universal_variables
