#!/bin/bash
export GUI=t
export XAPIAN_CJK_NGRAM=1
export XDG_RUNTIME_DIR="/run/user/$(id -u)"
export GTK_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx
export QT_IM_MODULE=fcitx
export QT_QPA_PLATFORMTHEME=gtk2
export AWT_TOOLKIT=XToolkit
export _JAVA_OPTIONS="$_JAVA_OPTIONS -Dawt.useSystemAAFontSettings=on -Dswing.aatext=true -Dswing.defaultlaf=com.sun.java.swing.plaf.gtk.GTKLookAndFeel"
/home/amos/scripts/restartxcape.sh
xset s off -dpms
xset b off
compton -b
unclutter --timeout 1 --jitter 10 -b --ignore-scrolling
fcitx
fish -c sxhkd &
fish -c copyq &
deadbeaf &
# thunar --daemon &
