#!/bin/bash
export GUI=t
export XAPIAN_CJK_NGRAM=1
export BSPWM_STATE=/tmp/bspwm-state.json
export XDG_RUNTIME_DIR="/run/user/$(id -u)"
export GTK_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx
export QT_IM_MODULE=fcitx
export QT_QPA_PLATFORMTHEME=gtk2
export AWT_TOOLKIT=XToolkit
# export _JAVA_OPTIONS="$_JAVA_OPTIONS -Dawt.useSystemAAFontSettings=on -Dswing.aatext=true -Dswing.defaultlaf=com.sun.java.swing.plaf.gtk.GTKLookAndFeel"
export AMPLXE_RUNTOOL_OPTIONS=--no-altstack
export QT_SCALE_FACTOR=1
export QT_AUTO_SCREEN_SCALE_FACTOR=0
export QT_SCREEN_SCALE_FACTORS=1
export GDK_SCALE=1
/home/amos/scripts/restartxcape.sh
xset s off -dpms
xset b off
xset r rate 200 30
compton -b
unclutter --timeout 1 --jitter 10 -b --ignore-scrolling
fcitx
fish -c rundbusproxy &
fish -c sxhkd > /home/amos/sxhkd.log &
fish -c copyq &
fish -c runscrcpy &
fish -c rungnirehtet &
# thunar --daemon &
