[Unit]
Description=Input method tray indicator

[Service]
ExecStart=/home/amos/scripts/fcitx5-indicator
Environment=DISPLAY=:0 XAUTHORITY=/home/amos/.Xauthority GDK_SCALE=2 PYTHONUNBUFFERED=1
Restart=always
RestartSec=2
