[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/home/amos/scripts/chromium %U
Name=Chromium (Amos Bird profile)
Icon=chromium
Categories=Network;WebBrowser;
MimeType=text/html;x-scheme-handler/http;x-scheme-handler/https;
