[Desktop Entry]
Version=1.0
Type=Application
NoDisplay=true
Exec=/usr/bin/telegram-desktop -workdir /home/amos/.local/share/TelegramDesktop/ -- %u
Name=Telegram Desktop
Comment=Telegram Desktop
