[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=true
Exec=/home/amos/git/tdesktop/out/Debug/Telegram -workdir /home/amos/git/tdesktop/out/Debug/ -- %u
Name=Telegram Desktop
Comment=Custom definition for Telegram Desktop
