export envprompt=CC-Playground
export ccls_suffix=$(basename $PWD)
export ccls_cxx_flags="
-std=c++2a
-O2
-pthread
"
export CXX=~/toolchain/bin/clang++
export ccls_multi=0
export ccls_include_dirs="
/home/amos/git/ccutils/
"
export cc_ldflags="
-ldl
"

export cc_ld_library_path=
export cc_ld_preload=

export CXXFLAGS=
for i in $ccls_cxx_flags
do
    CXXFLAGS="${CXXFLAGS} $i"
done
for i in $ccls_include_dirs
do
    CXXFLAGS="${CXXFLAGS} -I$i"
done

export LDFLAGS=
for i in $cc_ldflags
do
    LDFLAGS="${LDFLAGS} $i"
done
