.quick-command-container, .quick-command-container .quick-commands > div {min-width:60vw; cursor: auto;}
.quick-command-container .quick-commands > div > div {max-width: 100% !important;}
.quick-command-container .quick-command {cursor: pointer;}
